/* din-2014, sans-serif
40px
53px
600
#333333 */
.PageName{
    color: #333333;
    font-family:din-2014, sans-serif;
    font-size: 15px;
    font-weight: 50;
    line-height: 40px;
  
  }
  .ProductPart{
    /* padding-left: 10%;
    padding-right: 10%; */
    width: 70%;
    margin: auto;
    text-align: center;
  }
  .product_wraper{
   
      display: grid;
    margin-left: -300px;
      grid-template-columns: repeat(3, 400px);
      gap: 30px;
      margin:auto;
      padding:10px;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  /* .center{
    width: 80%;
    text-align: end;
    margin: auto;
  } */
  .per_product_card{
    /* padding: 15px; */
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    height: 400px;
    text-align: center;
  }
  .per_product_card:hover{
    border: 1px solid teal;
  }
  .per_prod_img > img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  }
  .per_prod_img {
    padding: 25px;
  margin: auto;
  }
  .name{
    color: #000000;
    font-family:din-2014, sans-serif;
    /* font-size: 12px; */
    /* font-weight: 20; */
    /* line-height: 29px; */

     font-size:5px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;  
  }
  .description{
    color: #000000;
    font-family:din-2014, sans-serif;
    /* font-size: 15px; */
    /* font-weight: 400; */
    /* line-height: 29px; */
         font-size:5px;
     white-space:nowrap; 
     overflow:hidden;
    text-overflow:ellipsis;  
  }
  .shade_wrapper{
    height: 40px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red ; */
  
  }
  .shade_wrapper > div >img{
    padding-top: 10px;
    padding-left: 15px;
  }
  .count{
    color: #000000;
    font-family:din-2014, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    /* border:1px solid blue; */
    margin-top: 10px;
    margin-right: 10px;
  
    
  }
  .price_wrapper{
    color: #000000;
    font-family:din-2014, sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 39px;
    display: flex;
    justify-content: space-evenly;
  }
  .center{
    color: #000000;
    font-family:din-2014, sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 39px;
    display: flex;
    justify-content: center;
  }
  
  s{
    color: #9b9b9b;
  }
  