/* .log{
    width: 600px;
    height:350px;
    background-color:white;
    margin-left: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
img{
    width: 450px;
    height: auto;
}
.mobile{
    margin-left: -150px;
    margin-top: 30px;
}
.btn{
    background-color: black;
    color: red;
    width: 350px;
    height: 40px;
    border-radius: 5%;
    border: 10px;
    font-size: 15px;
    font-weight: 600;
    font-stretch: expanded;
}
.input{
    border: 2px solid black;
    width: 200px;
    
}
.select{
    border: 1px solid black;
}
.op{
    border: 1px solid black;
} */
