.mujhko:hover{
    background-color: black;
    color:aliceblue;
    cursor: pointer;
}
.Babulal{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:70%;
    align-self: center;
   margin-left: 15%;
   
}