.shaanc{
    position: sticky;
    top:0px;
    background: rgb(255,255,255);
    z-index: 99;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.shaanb{
    position: sticky;
    top:0px;
    z-index:1;
    width: 99%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.shaand{
    z-index: 100;
}