.topside{
    position: fixed;
    right: 70px;
    bottom: 50px;
}

.btn{
    background-color: #fee8e8;
    font-size: 30px;
    border-radius: 50%;
    padding: 8px;
    color: black;
    cursor: pointer;
}

.icon{
    animation: gototop 2s linear infinite alternate-reverse;
}

@keyframes gototop{
    0%{
        transform: translateY(-0.5rem);
    }
    100%{
        transform: translateY(1rem);
    }
}